/**
 * Featherlight Gallery – an extension for the ultra slim jQuery lightbox
 * Version 0.3.1 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2014, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/
@media all {
	.featherlight-next,
	.featherlight-previous {
		display: block;
		position: absolute;
		top: 0; bottom: 0;
		left: 80%;
		right: 0;
		cursor: pointer;
		/* preventing text selection */
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.featherlight-previous {
		left: 0;
		right: 80%;
	}

	.featherlight-next:hover,
	.featherlight-previous:hover {
		background: rgba(255,255,255,0.25);
	}


	.featherlight-next span,
	.featherlight-previous span {
		display: none;
		position: absolute;

		top: 50%;
		right: 0;
		left: 18%;
		width: 82%;
		text-align: center; /* center horizontally */

		font-size: 80px;
		line-height: 80px;
		margin-top: -40px; /* center vertically */

		text-shadow: 0px 0px 5px #fff;
		color: #fff;
		font-style: normal;
		font-weight: normal;
	}
	.featherlight-next span {
		right: 18%;
		left: 0;
	}


	.featherlight-next:hover span,
	.featherlight-previous:hover span {
		display: inline-block;
	}
}

/* iPads */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)  {
	.featherlight-next span,
	.featherlight-previous span {
		display: block;

		margin-top: -30px;
		font-size: 40px;
	}
}

/* handling phones and small screens */
@media only screen and (max-width: 767px) {
	.featherlight-next span,
	.featherlight-previous span {
		display: block;

		margin-top: -30px;
		font-size: 40px;
	}
}