/**
 * Featherlight Gallery – an extension for the ultra slim jQuery lightbox
 * Version 0.2.1 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2014, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/
@media all {
	.featherlight-next,
	.featherlight-prev {
		display: block;
		position: absolute;
		top: 0; bottom: 0;
		left: 80%;
		right: 0;
		cursor: pointer;
	}

	.featherlight-next span,
	.featherlight-prev span {
			display: none;
	}

	.featherlight-next:hover,
	.featherlight-prev:hover {
		background: rgba(255,255,255,0.25);
	}

	.featherlight-next:hover span,
	.featherlight-prev:hover span {
		position: absolute;
		top: 50%;
		right: 30%;
		left: auto;
		display: inline-block;
		font-size: 80px;
		margin-top: -60px;
		text-shadow: 0px 0px 5px #fff;
		color: #fff;
	}

	.featherlight-prev {
		left: 0;
		right: 80%;
	}
	.featherlight-prev:hover span {
		left: 30%;
		right: auto;
	}
}